#
#*
#
#!admin_panel/
#!cart/
#!catalog/
#!database/
#!order/
#!media/
#
#!config.py
#!README.md
#!requirements.txt
#
#media/images/*
#media/*.db
#
#database/__pychache__/

/media/images/*.jpg
!/media/images/test.jpg

test.py
test_image_1.jpg

.venv/

/.idea/
.DS_Store
/.venv/
/__pychache__/
/database/__pychache__/